In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('/content/university_student.csv')

In [3]:
df.head(10)

,Student ID,Gender,Date of Birth,Study Time,Grade,School Type,Absences,Math Score,Reading Score,Writing Score
0,1,Male,1996-12-03,11,D,Public,2,72,91,69
1,2,Female,2001-09-15,5,D,Private,0,66,58,62
2,3,Male,2002-08-09,8,A,Private,2,75,99,77
3,4,Male,1999-04-29,8,A,Private,3,57,76,97
4,5,Male,1995-06-11,9,B,Private,1,78,51,78
5,6,Female,1995-07-21,11,A,Private,1,75,54,62
6,7,Male,2000-06-04,11,C,Public,4,59,78,95
7,8,Male,1997-09-22,15,D,Private,1,75,86,84
8,9,Male,2001-05-06,8,A,Public,4,83,87,55
9,10,Female,2005-10-09,11,A,Private,5,100,68,67

In [4]:
df.isna().sum()

Student ID       0
Gender           0
Date of Birth    0
Study Time       0
Grade            0
School Type      0
Absences         0
Math Score       0
Reading Score    0
Writing Score    0
dtype: int64

In [7]:
from sklearn.preprocessing import OneHotEncoder
Encoder=OneHotEncoder(sparse_output=False)
df['Gender']=Encoder.fit_transform(df[['Gender']])
df['School Type']=Encoder.fit_transform(df[['School Type']])

In [10]:
df['Math Score'].mean()

76.03

In [11]:
df['Math Score'].median()

74.5

In [12]:
df['Math Score'].mode()[0]

61

In [13]:
df['Math Score'].std()

13.48134138936351

In [14]:
result=df.groupby('School Type')['Math Score'].sum()

In [15]:
print(result)

School Type
0.0    3112
1.0    4491
Name: Math Score, dtype: int64